<!DOCTYPE html>
{% extends 'adminzone.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block mainadmin %}
     <div class="row mt-5">
    <div class="col-sm-12 pt-5">
        
        <table class="table text-center text-light" style="background-color: darkred; color:white;" >
<tr>
<th >id</th>
<th >Name</th>
<th >course</th>
<th >Branch</th>
<th >mobile</th>
<th >Email</th>
<th >Subject</th>
<th >feedback text</th>
<th >posted date</th>
</tr>




</table>




    </div>



     </div>




    {% endblock %}

    
</body>
</html>